extends ../layout

block title
  title Home

block scripts
  script(src='js/home.js')

block body
  .container(ng-app='meCu')
    // Infos de usuário
    .page-header.row
      // Informações de usuário
      div(ng-controller='UserInfoController')
        .col-md-1
          img.img-responsive.center-block(src='images/{{ user.foto }}')
        .col-md-6
          h1 {{user.nome}}
          small {{user.apelido}}

      // Botões de controle
      .btn-group.col-md-4(ng-controller='HeaderButtonController' role="group" aria-label="...")
        button.btn.btn-default
          span.glyphicon.glyphicon-home Home
        button.btn.btn-default
          span.glyphicon.glyphicon-cog Configurações
        button.btn.btn-default(ng-click='createPost ()')
          span.glyphicon.glyphicon-pencil Criar Post!

    // Posts
    .row.flex-row(ng-controller='PostController')
      div(ng-repeat='post in allPosts track by $index')
        .panel.panel-default
          p {{post.name}}: {{post.content}}
