<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>MeCu</title>
		<!-- CSS: bootstrap -->
		<link rel="stylesheet" href="styles/bootstrap.min.css">
		<!-- JS: angular -->
		<script src='js/dependencies/jquery.js'></script>
		<script src='js/dependencies/angular.min.js'></script>
		<script src='js/dependencies/angular-route.min.js'></script>
		<script src='js/dependencies/angular-sanitize.min.js'></script>
		<!-- e resto -->
		<script src='js/prepara.js'></script>
		<script src='js/navbar.js'></script>
		<script src='js/login.js'></script>
		<script src='js/home.js'></script>
		<script src='js/config.js'></script>
		<script src='js/user.js'></script>
		<script src='js/data.js'></script>
		<script src='js/group.js'></script>
		<script src='js/allUsers.js'></script>
		<script src='js/allGroups.js'></script>
	</head>
	<body ng-app='MeCu'>
		<div ng-view></div>
	</body>
</html>
