doctype html
html
  head
    meta(charset='utf-8')
    title MeCu
    // CSS: bootstrap
    link(rel="stylesheet", href="styles/bootstrap.min.css")
    // JS: angular
    script(src='js/dependencies/angular.min.js')
    script(src='js/dependencies/angular-route.min.js')
    script(src='js/prepara.js')
    script(src='js/login.js')
    script(src='js/home.js')
    script(src='js/config.js')

  body(ng-app='MeCu')
    div(ng-view)
