doctype html
html
  head
    meta(charset='utf-8')
    block title
      // Título padrão
      title MeCu
    // CSS: bootstrap + o que precisar
    link(rel="stylesheet", href="styles/bootstrap.min.css")
    block styles
    block scripts

  body 
    block body
