// Tarefa 9 - Lista de afazeres (Sails + Angular)
// Gil Barbosa Reis - 8532248
// João Gabriel Fontana - 7979144

extends layout

block title
  title Tarefa 10 - Lista de Afazeres no Servidor

block scripts
  script(src='js/script.js')

block body
  .container(ng-app='todoListApp')
    .page-header
      h2 Tarefa 9 - Lista de afazeres (Sails + Angular)
    div(ng-view)
