<div ng-controller='UserInfoController' class='container'>
	<div ng-include='navbar'></div>

	<!-- Infos de usuário -->
	<div class='page-header row'>
		<!-- Informações de usuário -->
		<div class='col-md-1'>
			<img class='img-responsive center-block' src='{{ user.foto || "images/fotoPadrao.png" }}' alt='Foto do usuário'>
		</div>
		<div class='col-md-6'>
			<h1>{{ user.nome }} <small>{{ user.apelido }}</small></h1>
		</div>

		<div class='col-md-12'>
			{{ user.descricao }}
		</div>
	</div>

	<!-- Posts -->
	<div ng-controller='PostController'>
		<!-- input do novo post -->
		<div class='input-group'>
			<span class='input-group-addon'>Título</span>
			<input class='form-control' ng-model='newPost.titulo' placeholder="Bom dia">
		</div>
		<div class='input-group'>
			<span class='input-group-addon'>Conteúdo</span>
			<input class='form-control' ng-model='newPost.conteudo' placeholder="Conte-nos algo">
			<span class='input-group-btn'>
				<button class='btn btn-default' ng-click='createPost (newPost.titulo, newPost.conteudo)'><span class='glyphicon glyphicon-ok'></span></button>
				<button class='btn btn-default' ng-click='marcaEditar (!podeEditar)'><span class='glyphicon glyphicon-pencil'></span></button>
				<button class='btn btn-danger' ng-click='marcaMorte (!podeApagar)'><span class='glyphicon glyphicon-remove'></span></button>
			</span>
		</div>

		<br>
		<div class='input-group'>
			<!-- filtragem -->
			<span class='input-group-addon'>Filtrar posts</span>
			<input type='text' class='form-control' ng-model='filtroDePosts' placeholder='Filtro'>
			<span class='input-group-btn'>
				<button class='btn btn-default' ng-click=''><span class='glyphicon glyphicon-ok'></span></button>
			</span>
		</div>
		<!-- erro -->
		<div class='alert alert-danger alert-dismissible' ng-show='error'>
			{{ error }}
		</div>
		<!-- sucesso -->
		<div class='alert alert-success alert-dismissible' ng-show='success'>
			{{ success }}
		</div>

		<!-- printa posts, ao contrário (mais novo mais acima) -->
		<div class='row flex-row'>
			<div ng-repeat='post in allPosts'>
				<!-- botão de apagar, só se puder apagar -->
				<button class='btn btn-danger btn-sm' ng-click='mataPost (post.id, $index)' ng-show='podeApagar'><span class='glyphicon glyphicon-remove'></span></button>

				<div class='panel panel-default container'>
					<!-- botão de salvar edição, só se puder editar -->
					<button class='btn btn-default' ng-click='atualizaPost (post)' ng-show='podeEditar'><span class='glyphicon glyphicon-ok'></span></button>
					<input type='text' ng-model='post.conteudo' ng-show='podeEditar'>
					<!-- readonly -->
					<span ng-hide='podeEditar'>
						<b>{{ post.user.nome || user.nome }}</b> - {{ post.createdAt | date:'dd/MM/yyyy' }} - {{ post.titulo }}
						<blockquote>
							<div ng-bind-html='post.conteudo | trataPost'></div>
						</blockquote>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
