<div ng-controller='UserInfoController' class='container'>
	<div ng-include='navbar'></div>

	<div ng-controller='UserController'>
		<!-- Cabeçalho -->
		<div class='page-header row'>
			<!-- Informações de usuário -->
			<div class='col-md-1'>
				<img class='img-responsive center-block' src='{{ pessoa.foto || "images/fotoPadrao.png" }}' alt='Foto do usuário'>
			</div>
			<div class='col-md-6'>
				<h1>{{ pessoa.nome }} <small>{{ pessoa.apelido }}</small></h1>
			</div>

			<div class='col-md-12'>
				{{ pessoa.descricao }}
			</div>
			{{ sigo ? "Seguindo" : "Não sigo" }}
			<button class='btn btn-default' ng-click='seguir (pessoa)'>{{ sigo ? "Parar de seguir" : "Seguir" }}</button>
		</div>
		<!-- erro -->
		<div class='alert alert-danger alert-dismissible' ng-show='error'>
			{{ error }}
		</div>
		<!-- sucesso -->
		<div class='alert alert-success alert-dismissible' ng-show='success'>
			{{ success }}
		</div>

		<!-- printa posts, ao contrário (mais novo mais acima) -->
		<div ng-controller='PostViewController' class='row flex-row'>
			<div ng-repeat='post in allPosts'>
				<div class='panel panel-default container'>
					<a href='#/user/{{ post.repost.user }}' ng-if='post.repost'>Repost</a> <b>{{ post.user.nome || pessoa.nome }}</b> - {{ post.createdAt | date:'dd/MM/yyyy' }} - {{ (post.titulo || post.repost.titulo) }}
					<blockquote>
						<div ng-bind-html='(post.conteudo || post.repost.conteudo) | trataPost'></div>
					</blockquote>
					<button class='btn btn-{{ post.gosto == "like" ? "success" : "default" }} btn-xs' ng-click='curtir (post)'><span class='glyphicon glyphicon-thumbs-up'></span></button>
					{{ post.curtidas }}
					<button class='btn btn-{{ post.gosto == "dislike" ? "danger" : "default" }} btn-xs' ng-click='odiar (post)'><span class='glyphicon glyphicon-thumbs-down'></span></button>
					{{ post.odiadas }}
					<button class='btn btn-default btn-xs' ng-click='repost (post)'><span class='glyphicon glyphicon-duplicate'></span> Repostar</button>
				</div>
			</div>
		</div>
	</div>
</div>
