extends ../layout

block title
  title MeCu Login

block styles
  link(rel='stylesheet', href='styles/login.css')

block scripts
  script(src='js/LoginApp.js')

block body
  // Logo do sistema
  .jumbotron.loginPage
    img.img-responsive.center-block(src='images/logo.png' alt='MeCuLogo')
  .container(ng-app='LoginApp')
    // Login/Register
    .row
      // Login container
      .col-md-6(ng-controller='LoginController')
        form
          .form-group.loginForm
            label Login
            input.form-control(ng-model='user.username' placeholder='Apelido')
            input.form-control(ng-model='user.password' type='password' placeholder='Senha')
            // Mostra erro, se tiver
            .alert.alert-danger(ng-if='error') {{ error }}
            button.btn.btn-default(ng-click='login ()') Logar!
      // Register container
      .col-md-6(ng-controller='RegisterController')
        form
          .form-group.loginForm
            label Registrar
            input.form-control(ng-model='user.username' placeholder='Apelido')
            input.form-control(ng-model='user.password' type='password' placeholder='Senha')
            // Mostra erro, se tiver
            .alert.alert-success(ng-if='success') {{ success }}
            .alert.alert-danger(ng-if='error') {{ error }}
            button.btn.btn-default(ng-click='register ()') Registrar!
      
      //button.btn.btn-primary(action='/loginDefault' method='post') Padrão

